<h1>My tasks</h1>

<%= link_to 'Create New', tasks_new_path %>

<% @tasks.each do |task| %>
  <p>
    <%= form_for(task) do |f| %>
      <%= f.check_box :completed %>
      <%= link_to task.title, task_path(task) %>  (<%= link_to 'delete', task_path(task), method: :delete,
      data: { confirm: "Are you sure?" }   %>)
    <% end %>
  </p>
<% end %>
